@import 'variables';

.button {
  cursor: pointer;
  display: block;
  background-color: transparent;
  color: $dark-font;
  border: 1px solid black;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  transition: $button-hover;
  &:hover {
    background-color: black;
    color: $light-font;
    transition: $button-hover;
  }
}
