<h1 class="login-title">Welcome to Finances app</h1>
<p class="login-subtitle">Please login to see your finances</p>
<form class="login-form" [formGroup]="loginForm">
  <label class="login-form__label">E-mail</label>
  <input class="login-form__input" type="text" formControlName="email" value="" placeholder="e-mail">
  <p class="login-form__error" *ngIf="wasSubmitted && email.invalid">
    Please provide a valid e-mail
  </p>
  <label class="login-form__label">Password</label>
  <input class="login-form__input" type="password" formControlName="password" value="" placeholder="password">
  <p class="login-form__error" *ngIf="wasSubmitted && password.invalid">
    Please provide a valid password (min. 6 characters)
  </p>
  <button class="button button--dark" (click)="login(email.value, password.value)">Login</button>
  <p class="">Don't have an account?
    <a routerLink="/register" class="" routerLinkActive="main-nav__link--active">
      Register here
    </a>
  </p>
</form>
